<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <h1 id="outputPanel">Start game</h1>
        <input type="text" class="form-control" id="numberInput" placeholder="Enter number">
        <a class="btn btn-primary btn-success btn-lg next-btn" disabled >Start!</a>
      </div>
    </div>
  </div>
</div>